/*Tekijä: Vilma Mäkitalo
Päivämäärä: 18.07.2017
*/

.root {
	-fx-background-color: linear-gradient(lightgrey,grey);
}

.label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(black,darkslategrey);
}

#errorTextLabel {
	-fx-font-size: 14px;
	-fx-text-fill: linear-gradient(maroon,darkred);
}

#errorPackageLabel {
	-fx-font-size: 14px;
	-fx-text-fill: linear-gradient(maroon,darkred);
}
	
.button {
	-fx-text-fill: whitesmoke;
	-fx-font-weight: bold;
	-fx-background-color:linear-gradient(lightseagreen,darkcyan);
	-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.6),5,0,0,1);
}

.button:hover {
	-fx-background-color:linear-gradient(darkcyan,lightseagreen);
}

.combo-box {
	-fx-background-color: linear-gradient(lightseagreen,darkcyan);
	-fx-text-fill: whitesmoke;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.6),5,0,0,1);
}

.list-cell {
	-fx-background-color: linear-gradient(lightseagreen,darkcyan);
	-fx-text-fill: whitesmoke;
}

.list-cell:hover {
	-fx-background-color: linear-gradient(darkcyan,lightseagreen);
	-fx-text-fill: whitesmoke;
}

