/*Tekijä: Vilma Mäkitalo
Päivämäärä: 18.07.2017
*/

.root {
	-fx-background-color: linear-gradient(lightgrey,grey)
}

.label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(black,darkslategrey);
}

.button {
	-fx-text-fill: whitesmoke;
	-fx-font-weight: bold;
	-fx-background-color:linear-gradient(lightseagreen,darkcyan);
	-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.6),5,0,0,1);
}

.button:hover {
	-fx-background-color:linear-gradient(darkcyan,lightseagreen);
}

#logInLabel {
	-fx-font-size: 14px;
	-fx-text-fill: linear-gradient(maroon,darkred);
}

#errorLabel {
	-fx-font-size: 14px;
	-fx-text-fill: linear-gradient(maroon,darkred);
}

.radio-button {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(darkslategrey,black);
}

.radio-button:hover {
	-fx-text-fill: linear-gradient(black,darkslategrey);
}

.radio {
	-fx-background-color:linear-gradient(lightseagreen,darkcyan);
}

.tab-header-background {
	-fx-background-color: linear-gradient(grey,lightgrey);
	-fx-border-color: lightgrey;
}

.tab {
	-fx-background-color: linear-gradient(lightgrey,grey);
}

.tab:selected {
	-fx-background-color: linear-gradient(grey,lightgrey);
	-fx-focus-color:linear-gradient(lightgrey,grey);
}