/*Tekijä: Vilma Mäkitalo
Päivämäärä: 18.07.2017
*/

.root {
	-fx-background-color: linear-gradient(lightgrey,grey);
}

.label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(black,darkslategrey);
}
