/*Tekijä: Vilma Mäkitalo
Päivämäärä: 18.07.2017
*/

.root {
	-fx-background-color: linear-gradient(lightgrey,grey);
}

.label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(black,darkslategrey);
}

#redHostLabel {
	-fx-font-size: 14px;
	-fx-text-fill: linear-gradient(maroon,darkred);
}

#redUserLabel {
	-fx-font-size: 14px;
	-fx-text-fill: linear-gradient(maroon,darkred);
}

#redRemoveLabel {
	-fx-font-size: 14px;
	-fx-text-fill: linear-gradient(maroon,darkred);
}

#companyNameLabel {
	-fx-font-size: 45px;
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(lightseagreen 50%,darkcyan 100%);
	-fx-font-style: italic;
	-fx-rotate: -3;
	-fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.4),0,5,8,0); 
}

#sloganLabel {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(black,darkslategrey);
}

.list-view .list-cell {
	
}

.list-view:hover {
	
}
	
.button {
	-fx-text-fill: whitesmoke;
	-fx-font-weight: bold;
	-fx-background-color:linear-gradient(lightseagreen,darkcyan);
	-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.6),5,0,0,1);
}

.button:hover {
	-fx-background-color:linear-gradient(darkcyan,lightseagreen);
}

.tab-header-background {
	-fx-background-color: linear-gradient(grey,lightgrey);
	-fx-border-color: lightgrey;
}

.tab {
	-fx-background-color: linear-gradient(lightgrey,grey);
}

.tab:selected {
	-fx-background-color: linear-gradient(grey,lightgrey);
	-fx-focus-color: linear-gradient(lightgrey,grey);
}

.combo-box {
	-fx-background-color: linear-gradient(lightseagreen,darkcyan);
	-fx-text-fill: whitesmoke;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.6),5,0,0,1);
}

.combo-box .list-cell {
	-fx-background-color: linear-gradient(lightseagreen,darkcyan);
	-fx-text-fill: whitesmoke;
}

.list-cell:hover {
	-fx-background-color: linear-gradient(darkcyan,lightseagreen);
	-fx-text-fill: whitesmoke;
}

